* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "montserrat", sans-serif;
  color: #404040;
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1 {
  color: #f69b10;
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
}

h2 {
  color: #f69b10;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.6;
}

h3 {
  color: #f69b10;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.6;
}

p {
  font-size: 20px;
  line-height: 1.4;
}

strong {
  font-weight: 800;
}

.secao {
  padding: 7.63rem 2rem;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

/* SEÇÃO CABEÇALHO */
.cabecalho {
  padding: 1.6rem 3.12rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho img {
  width: 10rem;
  height: auto;
}

nav {
  display: block;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.item-lista-cabecalho a {
  font-size: 1.4rem;
  color: #f69b10;
  text-decoration: none;
  font-weight: 600;
}

.item-lista-cabecalho a:hover,
.item-lista-cabecalho a:active {
  color: #306d94;
}

/* SEÇÃO RODAPE */
.rodape {
  padding: 1.6rem 3.12rem;
  background-color: black;
  color: #f4f5f7;
}

/* BOTOES */

.botao {
  display: inline-block;
  margin-top: 1rem;
  font-size: 20px;
  text-decoration: none;
  border-radius: 1rem;
  background-color: #f69b10;
  color: white;
  padding: 2rem 3rem;
}

.botao-evento {
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  border-radius: 1.5rem;
  padding: 0.5rem 0.5rem;
  color: white;
}

.botao:hover {
  background-color: #306d94;
}

.botao-evento:hover {
  background-color: #306d94;
}

/* ___________________________________________________________________________________ */

/* SEÇÃO PRINCIPAL*/
.secao-inicio {
  color: black;
  background-image: url(../img/background_inicio.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 72vh;
}

.secao-sobre {
  color: white;
  background-color: #260a66;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 72vh;
}

.secao-eventos {
  background-color: white;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 72vh;
}

/* SEÇÃO EVENTO 01 e 02 */
.secao-evento {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.conteudo-evento {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.evento02 {
  color: white;
  background-image: url(../img/evento02.jpg);
}

.evento01 {
  color: white;
  background-image: url(../img/evento01.png);
}

/* SEÇÃO CONTATO */
.secao-contato {
  background-color: rgb(255, 255, 255);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.contato_form {
  padding: 4rem;
  max-width: 80rem;
  text-align: left;
  border-radius: 5px;
  margin: 5rem auto 0 auto;
}

.form_label {
  color: #666;
  font-weight: 700;
  margin-bottom: 1rem;
}
.form_input {
  font-family: inherit;
  padding: 2rem;
  width: 100%;
  font-size: 1.6rem;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.contato-tabela {
  color: white;
  background-color: #306d94;
  border-radius: 1rem;
  padding: 1rem;
}
