* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "montserrat", sans-serif;
  color: #404040;
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1 {
  color: #f69b10;
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
}

h2 {
  color: #f69b10;
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

strong {
  font-weight: 600;
}

h2 {
  font-size: 2.76rem;
  line-height: 1.1;
  font-weight: 400;
}

h3 {
  font-size: 2.3rem;
  line-height: 1.2;
}

.secao {
  padding: 7.63rem 2rem;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

/* SEÇÃO CABEÇALHO */
.cabecalho {
  padding: 1.6rem 3.12rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho img {
  width: 10rem;
  height: auto;
}

nav {
  display: block;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.item-lista-cabecalho a {
  font-size: 1.4rem;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}

.item-lista-cabecalho a:hover,
.item-lista-cabecalho a:active {
  color: #1dc5d4;
}

/* SEÇÃO RODAPE */
.rodape {
  padding: 1.6rem 3.12rem;
  background-color: black;
  color: #f4f5f7;
}

/* BOTOES */

.botao {
  font-size: 20px;
  text-decoration: none;
  border-radius: 1rem;
  background-color: #f69b10;
  color: white;
  padding: 2rem 3rem;
}

.botao:hover {
  background-color: #1dc5d4;
}

/* SEÇÃO EVENTO */
.secao-evento {
  color: white;
  background-image: url(../img/projeto02.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
}

.temas-eventos {
  border-radius: 1.5rem;
  background-color: #306d94;
  color: white;
  padding: 0rem 1rem 0rem 1rem;
}
